
*{
    padding:0;
    margin:0;
    text-decoration: none;
    list-style:none;
}

.container {
    margin-left:50px;   
    padding: 5px 5px;
    display: flex;  
    padding-top:45px   
  }

  .photo-gallery {
    display: flex;
    gap: 15px;
    margin-top: 40px;
  }

  .column {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex: 50%;
      max-width: 50%;
  }

  .photo img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
   
  }

     .navbar {
        margin-left:5px;
        display:flex;
        flex-direction: row;
        align-items: center;
        overflow: hidden;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        width: 100%;
        height:13%;
        box-shadow: 2px 0px 3px #ffffff;
      }
      .navbar a {
        align-items: center;
        color: #0a0a0a;
        font-weight: 600;
        text-align: center;
        padding: 14px 14px;
        text-decoration: none;
        font-size: 16px;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
      }
      
      .navbar a:hover {
        background: #0c0c0c;
        color: rgb(255, 255, 255);
        font-weight: 600;
        border-radius: 25px;
      }
      .pintresticon{
        margin-left:20px;
        margin-top:5px;
        margin-right:20px;
        align-items: left;
      } 

      .search-container{
        border-radius: 25px;
        width:70%;
        height: 100%;
        margin-top: 55px;
        padding-bottom: 10px;
        
      }

      .search-container input{
        background-color: #c7c6d6;
        border-radius: 25px;
        border-color: none;
        border-style: none;
        width:70%;
        height:50%;
        font-size: 16px;
        padding-left:10px
      }

.card {
    padding: 10px;
    background-color: #ffffff;
    display:flex;
    gap: 20px;
    flex: 50%;
    color:#000000;
  } 
  .navcard {
    position:fixed;
    border:#1d1d1d;
    background-color: #ffffff;
    display:flex;
    gap: 1rem;
    padding:10px;
    width:100%;
    box-shadow: #c7c2c2;

  }
  #dialog-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

#dialog-container:before {
    content:"";
    background: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}
#dialog {
    background: white;
    padding:10px;
    margin-left: 25%;
    margin-right: 26%;
    margin-top:5%;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 50%;
    border-radius: 6px;
    text-align:left;
    align-items: center;
    z-index: 1000;    
}


  .imgsize{
    height: 40px;
    width: auto;
  }

  


  

  .searchText{
    border:transparent; border-color:transparent; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; 
    font-size:"18px"; 
    font-weight: normal; 
    height: 50%;
    background: #cac7c7;
    padding: 5px; 
    padding-left: 1rem;
    width: 90%;
    border-radius: 24px;
  }
  *:focus {
    outline: none;
}

  .imageblock{
   border-radius: 20px;
   display:flex;
   flex-shrink: 1;
   flex-direction: row;
   height: fit-content;
   padding-top: 2px;
  }
  
  .search-box {
    font-size: 20px;
    min-width:700px;
    min-height:20px;
    border: none;
    display: flex;
    flex-shrink: 1;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    border-radius: 2em;
    background-color: transparent
  }
  .search-box input[type=text] {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display:flex;
    flex-wrap: wrap;
    color: #ffffff;
    width: 700px;
    height: 40px;
    padding: 0.3em 2.1em 0.3em 0.4em;
    border: none;
    box-sizing: border-box;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 2em;
    background-color: #c7c2c2;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 150ms;
  }
  .search-box :-ms-input-placeholder{
    color:#1d1d1d;
  }
  .search-box input[type=text]:focus {
    outline: blue;
  }
  .search-box input[type=text]:focus, .search-box input[type=text]:not(:placeholder-shown) {
    width: 700px;
    transition: width 800ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
  
  .search-box input[type=text]:focus + button[type=reset]:after, .search-box input[type=text]:not(:placeholder-shown) + button[type=reset]:after {
    opacity: 1;
    transition: top 150ms ease-out 950ms, right 150ms ease-out 950ms, opacity 150ms ease 950ms;
  }
  .search-box button[type=reset] {
    background-color:transparent;
    width: 1.4em;
    height: 1.4em;
    border: 0;
    padding: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.55em;
    right: 0.55em;
    transform: rotate(-45deg) translateY(2.2em);
    transition: transform 150ms ease-out 150ms;
  }
  .search-box button[type=reset]:before, .search-box button[type=reset]:after {
    content: "";
    background-color: #000000;
    width: 0.3em;
    height: 1.4em;
    position: absolute;
  }
  .search-box button[type=reset]:after {
    transform: rotate(90deg);
    opacity: 1;
    
  }
  

  


 
  